.frame-child31 {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  margin-top: -1px;
}
.frame-child31,
.frame-child32,
.previous-doctor-appointments {
  position: relative;
}
.frame-child32 {
  width: 15px;
  height: 7.4px;
}
.appointment-info-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs-3) 0 0;
}
.appointment-info,
.appointment-info-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.appointment-info {
  gap: var(--gap-mini-6);
}
.appointment-info-wrapper {
  align-self: stretch;
  padding: 0 var(--padding-27xl);
  box-sizing: border-box;
}
.frame-child33 {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  margin-top: -1px;
}
.current-health-insurance,
.frame-child33,
.frame-child34 {
  position: relative;
}
.frame-child34 {
  width: 15px;
  height: 7.4px;
}
.vector-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi-3) 0 0;
}
.current-health-insurance-schem-parent,
.frame-wrapper10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.current-health-insurance-schem-parent {
  justify-content: flex-start;
  gap: var(--gap-mini-6);
}
.frame-wrapper10 {
  justify-content: flex-end;
  padding: 0 var(--padding-11xl-4) 0 var(--padding-11xl);
  box-sizing: border-box;
}
.frame-child35 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  margin-top: -1px;
}
.line-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-109xl);
  box-sizing: border-box;
  gap: var(--gap-4xs-5);
  max-width: 104%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
  font-family: var(--font-montserrat);
}
